%div
  .col-lg-6.col-md-6.col-sm-12.col-xs-12
    .flip-container{:ontouchstart => "this.classList.toggle('hover');"}
      .flipper
        .front#mainBookDuoFront
          One
        .back#mainBookDuoBack
          Two
  .col-lg-6.col-md-6.col-sm-12.col-xs-12
    world
