%div{style:"margin-right: auto; margin-left: auto; height: 150px; background:url('/assets/lollogo.png') center; background-repeat: no-repeat; background-size: contain;background-color: transparent;"}
%div{style:"height:80%; opacity: 0.7"}
  %a.col-lg-2.col-md-3.col-sm-4.col-xs-6.fheight(href="/appointments"){style:"padding-top:2%; background-color:transparent"}
    .flip-container{:ontouchstart => "this.classList.toggle('hover');", :ontouchend => "this.classList.toggle('');"}
      .flipper.fheight
        .front.mainPanelMenu#mainBookDuoFront
        .back.mainPanelMenu#mainBookDuoBack
  %a.col-lg-2.col-md-3.col-sm-4.col-xs-6.fheight{style:"padding-top:2%; background-color:transparent"}
    .flip-container{:ontouchstart => "this.classList.toggle('hover');", :ontouchend => "this.classList.toggle('');"}
      .flipper.fheight
        .front.mainPanelMenu#mainTacticsFront
        .back.mainPanelMenu#mainTacticsBack
  %a.col-lg-2.col-md-3.col-sm-4.col-xs-6.fheight{style:"padding-top:2%; background-color:transparent"}
    .flip-container{:ontouchstart => "this.classList.toggle('hover');", :ontouchend => "this.classList.toggle('');"}
      .flipper.fheight
        .front.mainPanelMenu#mainChampionItemFront
        .back.mainPanelMenu#mainChampionItemBack

  %a.col-lg-2.col-md-3.col-sm-4.col-xs-6.fheight{style:"padding-top:2%; background-color:transparent"}
    .flip-container{:ontouchstart => "this.classList.toggle('hover');", :ontouchend => "this.classList.toggle('');"}
      .flipper.fheight
        .front.mainPanelMenu#mainCurrentBattleFront
        .back.mainPanelMenu#mainCurrentBattleBack

  %a.col-lg-2.col-md-3.col-sm-4.col-xs-6.fheight{style:"padding-top:2%; background-color:transparent"}
    .flip-container{:ontouchstart => "this.classList.toggle('hover');", :ontouchend => "this.classList.toggle('');"}
      .flipper.fheight
        .front.mainPanelMenu#mainSearchPlayerFront
        .back.mainPanelMenu#mainSearchPlayerBack
  %a.col-lg-2.col-md-3.col-sm-4.col-xs-6.fheight(href="/galleries"){style:"padding-top:2%; background-color:transparent"}
    .flip-container{:ontouchstart => "this.classList.toggle('hover');", :ontouchend => "this.classList.toggle('');"}
      .flipper.fheight
        .front.mainPanelMenu#mainGalleryFront
        .back.mainPanelMenu#mainGalleryBack

