- if not(user_signed_in?)
  %div{style:"text-align: center"}
    %h2{style:"color: gold"} Please Sign In First!
-else
  %div#appointment_window_container
    %a.btn.btn-lg.btn-primary.btn-info.btn-block(href="javascript: appointmentAppear();") Create a Duo Game Appointment

  .topItem#appointmentWindow{style:"display:none; text-align:center; width: 60%; margin-left: 20%; position: absolute; background-color:rgba(0, 0, 0, 0.6);"}
    %h2{style:"color:gold; margin: auto;"} Create a Duo Appointment
    %hr
    %div
      %form#new_appointment.new_appointment{style:"width: 80%; margin:auto", "accept-charset" => "UTF-8", :action => "/appointments", :method => "post"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}
        %input{:name => "authenticity_token", :type => "hidden", :value => "#{form_authenticity_token}"}
        .form-group#appointment_fail{style:"display:none; color: red"}
          Creation failed, please double check your info
        .form-group
          %label{style:"color:gold"} My Game ID
          %input#appointment_player1ID.form-control{readonly:true, :autofocus => "autofocus", :name => "appointment[player1ID]", :type => "text", :value => "#{current_user.game_id}"}
        .form-group
          %label{style:"color:gold"} Select Duo Date
          %input#appointment_gamedate.form-control{readonly:true, :type => "text", :value => "", :placeholder => "Click To Select Game Date"}
        .form-group
          %label{style:"color:gold"} Select Duo Time
          %div#appointment_timepicker_container
            %select.form-control#appointment_timepicker
              %option{:value => "0"} 0:00 A.M
              %option{:value => "1"} 1:00 A.M
              %option{:value => "2"} 2:00 A.M
              %option{:value => "3"} 3:00 A.M
              %option{:value => "4"} 4:00 A.M
              %option{:value => "5"} 5:00 A.M
              %option{:value => "6"} 6:00 A.M
              %option{:value => "7"} 7:00 A.M
              %option{:value => "8"} 8:00 A.M
              %option{:value => "9"} 9:00 A.M
              %option{:value => "10"} 10:00 A.M
              %option{:value => "11"} 11:00 A.M
              %option{:value => "12"} 12:00 P.M
              %option{:value => "13"} 1:00 P.M
              %option{:value => "14"} 2:00 P.M
              %option{:value => "15"} 3:00 P.M
              %option{:value => "16"} 4:00 P.M
              %option{:value => "17"} 5:00 P.M
              %option{:value => "18"} 6:00 P.M
              %option{:value => "19"} 7:00 P.M
              %option{:value => "20"} 8:00 P.M
              %option{:value => "21"} 9:00 P.M
              %option{:value => "22"} 10:00 P.M
              %option{:value => "23"} 11:00 P.M

        .form-group
          %label{style:"color:gold"} Preferred Position
          %select.form-control#appointment_position{:name => "appointment[position]"}
            %option{:value => "AP Carry"} AP Carry
            %option{:value => "AD Carry"} AD Carry
            %option{:value => "Support"} Support
            %option{:value => "Top"} Top
            %option{:value => "Jungler"} Jungler
        .actions
          %a.btn.btn-lg.btn-warning(href="javascript: appointmentCancel();") Cancel
          %a.btn.btn-lg.btn-primary(href="javascript: appointmentSubmit();") Submit

  .botItem#allAppointments

:javascript
  $(document).ready(function(){
    $( "#appointment_gamedate" ).datepicker();
    loadAllAppointments();
  });

  function appointmentSubmit(){
    var curtime = new Date(Date.now());
    curtime = curtime.getTime() / 100000;
    var player1ID = document.getElementById("appointment_player1ID").value;
    var gamedate = document.getElementById("appointment_gamedate").value;
    gamedate = gamedate.split("/");
    var gamehour = document.getElementById("appointment_timepicker").value;
    var gametime = new Date(Date.UTC(gamedate[2], gamedate[0]-1, gamedate[1], gamehour, 0, 0, 0));
    gametime = gametime.getTime() / 100000;
    var position = document.getElementById("appointment_position").value;
    console.log(player1ID + ", " + gametime + ", " + position);
    if(isNaN(gametime) || curtime > gametime ){
      document.getElementById("appointment_gamedate").value = "";
      document.getElementById("appointment_timepicker").value = "0";
    }else{
      $.ajax({
        url:  "/appointments/createAppt",
        type: "post",
        dataType: "json",
        data: {"player1ID": player1ID, "gametime": gametime, "position":position},
        success: function(data){
          if(data.status == 1){
            loadAllAppointments();
            appointmentCancel();
          }else{
            document.getElementById("appointment_fail").style.display = "block";
          }
        }
      });
    }
  }
  function appointmentCancel(){
    document.getElementById("appointment_gamedate").value = "";
    document.getElementById("appointment_timepicker").value = "0";
    document.getElementById("appointment_position").value = "";
    document.getElementById("appointmentWindow").style.display = "none";
    document.getElementById("appointment_fail").style.display = "none";
    document.getElementById("appointment_window_container").style.display = "block";
  }
  function appointmentAppear(){
    document.getElementById("appointmentWindow").style.display = "block";
    document.getElementById("appointment_window_container").style.display = "none";
  }

  function loadAppointments(rankb, ranks, player1, time, position, rankBadge){
    var offset = new Date().getTimezoneOffset();
    time = time * 100000 + offset*60*1000;
    var timestr = new Date(time);
    timestr = timestr.toString();
    var html = "<div class='col-lg-2 col-md-2 col-sm-3 col-xs-6 aptTile'>" +
                 "<div class='circle-tile'>" +
                   "<div class='circle-tile-heading aptCircle' style='background-image:url(" + rankBadge + ")'>" +
                     ranks +
                   "</div>" +
                   "<div class='circle-tile-content'>" +
                     "<div class='circle-tile-description text-faded'>" +
                       player1 + " - " + position +
                     "</div>" +
                     "<div class='circle-tile-number text-faded'>" +
                       timestr.substring(0,21) +
                     "</div>" +
                     "<a class='circle-tile-footer' href='http://na.op.gg/summoner/userName=" + player1 + "'>" +
                       "Player Info" +
                         "<i class='fa fa-chevron-circle-right'></i>" +
                     "</a>" +
                   "</div>" +
                 "</div>" +
               "</div>";
    return html;
  }

  function loadAllAppointments(){
    $.ajax({
      url:  "/appointments/getAppt",
      type: "get",
      dataType: "json",
      success: function(data){
        console.log(data);
        var html = "<div class=row>";
        for(var i = 0; i < data.allAppts.length; i++){
          if(i % 6 == 0){
            html = html + "</div><div class=row>";
          }
          var anappt = data.allAppts[i];
          html = html + loadAppointments(anappt.rankb, anappt.ranks, anappt.player1ID, anappt.gametime, anappt.position, anappt.rankBadge);
        }
        $("#allAppointments").html(html);
      }
    });
  }