- if not(user_signed_in?)
  %div{style:"text-align: center"}
    %h2{style:"color: gold"} Please Sign In First!
-else
  .col-lg-2.aptTile
    .circle-tile
      .circle-tile-heading.aptCircle{style:"background-image:url('/assets/rank5.png')"}
        5
      .circle-tile-content
        .circle-tile-description.text-faded
          Garen - AD Carry
        .circle-tile-number.text-faded
          2015-08-12 18:00
        %a.circle-tile-footer{:href => "http://na.op.gg/summoner/userName=garen"}
          Player Info
          %i.fa.fa-chevron-circle-right

  .col-lg-2.aptTile
    .circle-tile
      .circle-tile-heading.aptCircle{style:"background-image:url('/assets/rank4.png')"}
        5
      .circle-tile-content
        .circle-tile-description.text-faded
          Waxwam - AP Carry
        .circle-tile-number.text-faded
          2015-08-12 19:00
        %a.circle-tile-footer{:href => "http://na.op.gg/summoner/userName=waxwam"}
          Player Info
          %i.fa.fa-chevron-circle-right
